
<div class="main-ft">
      <p class="ft">Copyright@ 172.93 theme build by {{footer}}</p>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" ></script>
    <script src="./js/index.js"></script>
  </body>
</html>