* {
  margin: 0px;
  padding: 0px;
}

.xyz {
  color: red !important;
}
.ul li {
  margin-left: 0.6rem;
  transition: 0.2s;
}
.ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #000;
  font-family: sans-serif;
  padding: 1rem;
  background-color: ghostwhite;
  display: inline-block;
}
/* .ul li:hover {
  transform: scale(1.1);
} */
.main-ft {
  margin-top: auto;
  padding: 1rem 1rem;
  background-color: gray;
}
.ft {
  text-align: center;
  color: #fff;
}
.h-100 {
  min-height: 100vh !important;
  display: flex;
  flex-direction: column;
}
#form {
  width: 320px;
  margin: 0px auto;
}
.fontsize-2 {
  font-size: 22px;
}
#error-message {
  color: red;
  font-weight: 600;
}
